.banner
    border-radius 30px
    text-align: center
    display: inline-block
    vertical-align: top

    &__text
        color #0f3751
        font-size 25px
        display block
        padding-top 19px




