- headerHeight = 88px

.header
    size 100% 100px
    background-image url(../images/header-pattern.png)
    background-repeat repeat
    text-align left
    position fixed
    top 0
    left 0
    z-index 100
    min-width 1060px

    &__logo
        sprite($logo)
        display block
        position relative
        top 16px
        display inline-block
        margin-right 127px
        margin-left 60px


    &__menu
        position: absolute
        right 0
        top 0
        font-size 0

        &-item
            margin-right 26px
            line-height headerHeight
            color #ffffff
            text-decoration none
            font-size 25px
            padding 5px 12px
            border 2px solid transparent
            transition-duration .3s

            &:not([lang='en'])
                margin-right 20px

            &:hover
                border 2px solid white
                border-radius 5px

            &:last-of-type
                margin-right 39px


    &__wrapper
        position relative

    &__lang
        margin-right 10px
        position relative
        top 5px

        &:last-of-type
            margin-right 30px
