.main
    background-image url(../images/pattern.jpg)
    background-repeat repeat

.wrapper
    width 1060px
    margin auto

span[lang='cn']
    font-family $JhengHei

span[lang='en']
    font-family $OpenSans
    font-weight 400