body
    background-image url(../images/pattern.jpg)
    background-repeat repeat

.main
    padding-bottom 100px

.wrapper
    width 1060px
    margin auto

.container
    width 1060px
    margin auto
    background #ffffff
    padding-top 100px
    padding-left 63px
    padding-right 63px

span[lang='cn']
    font-family $JhengHei

span[lang='en']
    font-family $OpenSans
