body
    background-image url(../images/pattern.jpg)
    background-repeat repeat
    background-size 25%

.main
    padding-bottom 100px

.wrapper
    width 1060px
    margin auto

.container
    width 1060px
    margin auto
    background #ffffff
    padding-top 100px
    padding-left 63px
    padding-right 63px

.toggle-lang[lang='cn']
    font-family $JhengHei

.toggle-lang[lang='en']
.toggle-lang[lang='ru']
    font-family $OpenSans

html[lang='ru']
    .toggle-lang[lang='cn']
    .toggle-lang[lang='en']
        display none

html[lang='cn']
    .toggle-lang[lang='ru']
        display none

