@font-face
    font-family 'Open Sans'
    src url('../fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight normal
    font-style normal

@font-face
    font-family 'Open Sans Light'
    src url('../fonts/OpenSans-Light.ttf') format('truetype');
    font-weight normal
    font-style normal

@font-face
    font-family 'Microsoft JhengHei'
    src url('../fonts/msjh.ttf') format('truetype');
    font-weight normal
    font-style normal

@font-face
    font-family 'Microsoft JhengHei Bold'
    src url('../fonts/msjhbd.ttf') format('truetype');
    font-weight normal
    font-style normal