.about
    .title 关于我们

    .banner
        img.banner__image(src='assets/images/about-image.png')

    p.text(lang="cn").
        3XP公司建立于2013年。公司主要发行网页游戏和社交网络游戏。
        我们目前在寻找产品在俄罗斯和独联体发行。3XP拥有游戏运营和维持先进的技术，以及经验丰富的游戏迷的团队。
        我们的目标 -注重市场营销和给俄罗斯用户带来的国外产品 ： 手游戏，网游和客户端游戏。
        3XP办公室位于在莫斯科和克里米亚。
        公司创造者都是游戏迷，从2008年加入了游戏行业作为SnailGame Rus（蜗牛俄罗斯子公司）的员工。我们总共推广了30多款游戏因此对俄罗斯市场拥有比其他人更深刻的了解。

    .hr