.contacts#contacts
    .title
        .title__text.toggle-lang(lang="cn") Contact us
        .title__text.toggle-lang(lang="ru") Контакты

    .contacts-item
        .contacts-item__icon.contacts-item__icon_type_mail

        a.contacts-item__text(href="mailto:info@3xp.ru") info@3xp.ru


    .contacts-item
        .contacts-item__icon.contacts-item__icon_type_address

        a.contacts-item__text.toggle-lang(lang="cn").
            123308, Moscow,
            Jukova street 16

        a.contacts-item__text.toggle-lang(lang="ru").
            123308, Москва,
            Улица Жукова, 16


    .contacts-item
        .contacts-item__icon.contacts-item__icon_type_phone
        a.contacts-item__text(href="tel:7 925 001 15 14") +7 925 001 15 14