.header
    .wrapper.header__wrapper
        a.header__logo(href="/")
        nav.header__menu
            a.header__menu-item(href=jv0)
                span(lang="cn") 关于我们
            a.header__menu-item(href=jv0)
                span(lang="cn") 游戏产品
            a.header__menu-item(href=jv0)
                span(lang="cn") 团队
            a.header__menu-item(href=jv0)
                span(lang="cn") Contact us
            .lang.lang_type_russian.lang_state_active
            .lang.lang_type_china
