.header
    .wrapper.header__wrapper
        a.header__logo(href="/")
        nav.header__menu
            a.header__menu-item.js-scroll-to(href='#about')
                span(lang="cn") 关于我们
            a.header__menu-item.js-scroll-to(href='#projects')
                span(lang="cn") 游戏产品
            a.header__menu-item.js-scroll-to(href='#team')
                span(lang="cn") 团队
            a.header__menu-item.js-scroll-to(href='#contacts')
                span(lang="en") Contact us
            .header__lang.lang.lang_type_russian.lang_state_active
            .header__lang.lang.lang_type_china
