.projects
    .title
        .title__text
            span(lang="cn") 游戏产品
    .banner
        img.banner__image(src='assets/images/project-image.png')
    p.text
        span(lang="cn").
            我们一直在寻找新的游戏产品，因此我们会考虑任何合作建议。
            我们正准备两款游戏在App Store和谷歌店，社交网络vkontakte和odnoklassniki上线 。

    .banner.banner_size_small
        img.banner__image(src='assets/images/project-image-small-1.png')
        span.banner__text
            span(lang="cn") 浏览器游戏

    .banner.banner_size_small
        img.banner__image(src='assets/images/project-image-small-2.png')
        span.banner__text
            span(lang="cn") 社交游戏

    .banner.banner_size_small
        img.banner__image(src='assets/images/project-image-small-3.png')
        span.banner__text
            span(lang="cn") 手机游戏


    .hr