.team
    .title
        .title__text
            span(lang="cn") 团队

    .team-item
        .team-item__image
            img.team-item__photo(src="assets/images/photo-1.png")

        .team-item__name
            span(lang="en") Olga
        .team-item__profession
            span(lang="cn") 创始人，发展经理

        a(href=jv0).team-item__btn Send mail


    .team-item
        .team-item__image
            img.team-item__photo(src="assets/images/photo-2.png")

        .team-item__name
            span(lang="en") Sergey
        .team-item__profession
            span(lang="en") Founder, VP Publishing & Operations

        a(href=jv0).team-item__btn Send mail


    .team-item
        .team-item__image
            img.team-item__photo(src="assets/images/photo-3.png")

        .team-item__name
            span(lang="en") Kate
        .team-item__profession
            span(lang="en") Marketing Director

        a(href=jv0).team-item__btn Send mail


    .team-item
        .team-item__image
            img.team-item__photo(src="assets/images/photo-4.png")

        .team-item__name
            span(lang="en") Vlad
        .team-item__profession
            span(lang="en") Chief Technology Officer

        a(href=jv0).team-item__btn Send mail

    .hr
