.team
    .title 团队

    .team-item
        .team-item__wrapper
            .team-item__image
                .team-item__circle
                img.team-item__photo(src="assets/images/photo-1.png")

            .team-item__name
                span(lang="cn") Olga
            .team-item__profession
                span(lang="cn") 创始人，发展经理

            .team-item__btn Send mail


    .team-item
        .team-item__wrapper
            .team-item__image
                .team-item__circle
                img.team-item__photo(src="assets/images/photo-2.png")

            .team-item__name
                span(lang="cn") Sergey
            .team-item__profession
                span(lang="cn") Founder, VP Publishing & Operations

            .team-item__btn Send mail


    .team-item
        .team-item__wrapper
            .team-item__image
                .team-item__circle
                img.team-item__photo(src="assets/images/photo-3.png")

            .team-item__name
                span(lang="cn") Kate
            .team-item__profession
                span(lang="cn") Marketing Director

            .team-item__btn Send mail


    .team-item
        .team-item__wrapper
            .team-item__image
                .team-item__circle
                img.team-item__photo(src="assets/images/photo-4.png")

            .team-item__name
                span(lang="cn") Vlad
            .team-item__profession
                span(lang="cn") Chief Technology Officer

            .team-item__btn Send mail

    .hr
