.team
    .title 团队

    .team-item
        .team-item__wrapper
            .team-item__image
                .team-item__circle
                img.team-item__photo(src="assets/images/photo-1.png")

            .team-item__name Olga
            .team-item__profession 创始人，发展经理

            .team-item__btn Send mail


    .team-item
        .team-item__wrapper
            .team-item__image
                .team-item__circle
                img.team-item__photo(src="assets/images/photo-2.png")

            .team-item__name Sergey
            .team-item__profession Founder, VP Publishing & Operations

            .team-item__btn Send mail


    .team-item
        .team-item__wrapper
            .team-item__image
                .team-item__circle
                img.team-item__photo(src="assets/images/photo-3.png")

            .team-item__name Kate
            .team-item__profession Marketing Director

            .team-item__btn Send mail


    .team-item
        .team-item__wrapper
            .team-item__image
                .team-item__circle
                img.team-item__photo(src="assets/images/photo-4.png")

            .team-item__name Vlad
            .team-item__profession Chief Technology Officer

            .team-item__btn Send mail

    .hr
