$JhengHei =  'Microsoft JhengHei', sans-serif
$JhengHeiBd =  'Microsoft JhengHei Bold', sans-serif
$OpenSans = 'Open Sans', sans-serif
$OpenSansLight = 'Open Sans Light', sans-serif
$OpenSansItalic = 'Open Sans Italic', sans-serif